.jumbotron{
    background-image: url("http://s1.thingpic.com/images/DZ/orHrHkEaJPkB3nXaxQaqgMbp.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron .dl-horizontal{
    color:blueviolet;
    font-size: 40px;
    
}

/* add immage to body, style image to fit body */
body, html {
    height: 100%;
    margin: 0;
    background-image: url("https://pbs.twimg.com/media/C2inHpJXgAAe0Du.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

